body {
    background-color: #f3dbb9;
}

.main-banner {
    width: 100vw;
    position: relative;
    left: 50%;
    right: 50%;
    margin-left: -50vw;
    margin-right: -50vw;
}

.banner-content img {
    width: 100%;
    height: auto;
    display: block;
}