body {
    background-color: #f3dbb9;
}

.main-banner {
    width: 100vw;
    position: relative;
    left: 50%;
    right: 50%;
    margin-left: -50vw;
    margin-right: -50vw;
}

.banner-content img {
    width: 100%;
    height: auto;
    display: block;
}
/* Add a black background color to the top navigation */
.topnav {
  background-color: #153b27 ;
  overflow: hidden;
  width: 100vw;
  position: relative;
  left: 50%;
  right: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
}


/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #153b27;
  color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: #153b27;
  color: white;
}
